
### Folders

/**/incremental_db
/**/output_files
/**/simulation
/**/synthesis
/**/synthesis_output
/**/db
/**/devkits
/**/build
/**/*.exe
/**/prob.c

/**/*.v
/**/*.json
/**/*.bak
/**/*.rpt
/**/*.qdf
/**/*.DS_store
/**/*.sv.bak
/**/*.ninja
/**/build/.ninja
/**/build/.txt

/**/**/text_100M.txt
/**/**/TexFiles/text_10M.txt
/**/**/TexFiles/text_1G.txt
/****/TexFiles/text.txt
/build/
/CMakeFiles/
/CMakeCache.txt
/build.ninja
/rules.ninja
/.ninja_deps
/.ninja_log
/Proyecto final/build/
.DS_Store
